
:root{
  --cor0: #56C033;
  --cor1: #569641;
  --cor2: #4EEA18;
  --cor3: #4B6B40;
  --cor4: #354132;
  --cor5: #2E332C;
  --swiper-pagination-color: var(--cor0);
  --swiper-theme-color: red;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
 
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: var(--cor0);
}


